@font-face {
	font-family: 'Univers LT Std';
	src: url('UniversLTStd-Light.eot');
	src: url('UniversLTStd-Light.eot?#iefix') format('embedded-opentype');
	
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Eurostile LT Pro Ext Two';
	src: url('EurostileLTPro-BoldEx2.eot');
	src: url('EurostileLTPro-BoldEx2.eot?#iefix') format('embedded-opentype');
		
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Eurostile LT Pro';
	src: url('EurostileLTPro-Ex2.eot');
	src: url('EurostileLTPro-Ex2.eot?#iefix') format('embedded-opentype');
		
	font-weight: 500;
	font-style: normal;
}
