/*========= FADE IN BG IMAGES ===== */

.slide-1-bg, .slide-2-bg, .slide-3-bg, .slide-4-bg, .orange-triangle{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
}

.slide-1-bg{
    background:  url('images/vert-slide-1.jpg') center center fixed;
    background-size:cover;
    z-index:-2;
}
.slide-2-bg{
  background:  url('images/vert-slide-2.jpg') center center fixed;
  z-index:-3;
}
.slide-3-bg{
  background:  url('images/vert-slide-3.jpg') center center fixed;
  z-index:-4;
}
.slide-4-bg{
  background:  url('images/vert-slide-4.jpg') center center fixed;
  z-index:-5;
}
#filler{
    padding: 400px 0;
    position: relative;
    z-index: 2000;
    background: wheat;
}

/*========= VERTICAL SLIDESHOW ========*/
.cta{
    position: absolute;
    display: flex;
    height: 100vh;
    width: 99vw;
    top: 0;
    z-index: 10;

    .c10, c2{
    padding: 0;
    }
}
.orange-triangle{
    background: url(images/orange-tri.png)no-repeat;
    background-size: cover;
    animation-delay: 1s;
    position: fixed; 
    top:50vh;
    left:0;
    z-index: 20;
  
    span{
        color: white;
        position: relative;
        display: block;
        width: 31%;
    
        h1, h2{
            color: white;
            font-family: 'Eurostile LT Pro', sans-serif;
            font-size: 1.125em;
            text-transform: uppercase;
            font-weight: 100;
            strong{
                font-weight: 700;
            }
        }
        h2{
            font-size: 2em;
        }
        p{
            font-size: .8em;
            font-weight: 100;
        }
    }
}
.blue-triangle{
    background: url(images/buy-now.png);
    width: 213px;
    height: 156px;
    position: absolute;
    top:0;
    right: 0;
    animation-delay: 1s;
}


/*========== CONTENT ========*/
#container{
	
}
.home_section{
	padding: 80px 0;
	
}

/*#part_1{
	background: $red;
}
#part_2{
	background: $green;
}
#part_3{
	background: $blue;
}*/



/*============VIDEO BACKGROUND ================*/
#big-video {
    position: relative;
    background: #000;
    overflow: hidden;
    height: 582px;

    .video {
	    z-index: 1;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 0;
	    padding-bottom: 56.25%;
	}

	video {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	}
	.video-element {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-size: auto 100%;
	}

}
/*============== SVGs ==============*/
svg{
	#top{
		
	}
}