$red: rgba(219, 84, 97, 1);
$brown: rgba(86, 86, 82, 1);
$green: rgba(138, 162, 158, 1);
$blue: rgba(61, 84, 103, 1);
$white: rgba(241, 237, 238, 1);
$light-grey: rgba(211,211,211,1);
$black: rgba(29,29,27, 1);
$purple: #A6B1E1;
$lavendar: #DCD6F7;
$light-green:#D6E5E3;
$teal: #4abdac;
$orange: #fc4a1a;
$yellow: #f7b733;
